#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.inputField
{
  display: flex;
  border-radius: 20px;
  border: var(--borderColor) 2px solid;
  padding: 2px 15px;
  justify-content: center;
  align-items: center;
  width: 100%;
  justify-self: center;
  margin-bottom: 10px;
}
.inputField input, .inputField textarea{
  height: 25px;
  border-radius: 10px;
  padding: 2px;
  margin: 10px;
  width: 40%;
}

.passwordHideButton{
  background-color:transparent;
}
a{
  display: block;
  margin: 10px;
}
.buttons{
display: flex;
justify-self: center;
margin: 10px;

}

.error{
  color: red;
  font-size: larger;
  font-weight: bold;
}

#settingButton{
  position: absolute;
  top:5px;
  right: 5%;
}
.entryItem{
  border: var(--borderColor) 2px solid;
  border-radius: 20px;
  margin-bottom: 10px;
}

.entryItem h2{
  border-bottom: var(--borderColor) 2px solid;
  padding-bottom: 15px;
}
.entryItem div{
  border-top: var(--borderColor) 2px solid;
}
.entryItem div p{
  display: inline;

}

#entryAddButton{
  margin: 20px;
}

.buttonCollection{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}