:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--font-color);
  background-color: var(--backgroundColor);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[data-theme="dark"] {
  --backgroundColor:#1e1e2f;
  --buttonBackGroundColor:#43a047;
  --borderColor:#4b5563;
    --font-color: #e5e7eb;
    --link-color:#81c784;
    --inputFieldColor:#323249;

}
[data-theme="light"] {
   --backgroundColor:#d5f3d8;
     --buttonBackGroundColor:#66bb6a;
      --borderColor:#a5d6a7;
    --font-color: #1b1b1b;
    --link-color:#2e7d32;
    --inputFieldColor:#9ceaa0;
  
}

a {
  font-weight: 500;
  color: var(--link-color);
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--buttonBackGroundColor);
  cursor: pointer;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.inputField{
    background-color: var(--inputFieldColor);
}

.entryItem{
   background-color: var(--inputFieldColor);
}